p {

    text-indent: 2em;
    border: 2px outset #666;
    border-radius: 1em/2em 0;
    padding: 0 60px 0 0;
    white-space: pre;

}

.image:hover {
    background: url(/images/doc.jpg) no-repeat;
    padding-left: 50px;
}