div {
    background: 
    url(/images/t-l.gif) no-repeat top left,
    url(/images//t-r.gif) no-repeat top right,
    url(/images/b-l.gif) no-repeat bottom left,
    url(/images/b-r.gif) no-repeat bottom right,
    url(/images/l.gif) repeat-y left,
    url(/images/t.gif) repeat-x top,
    url(/images/r.gif) repeat-y right,
    url(/images/b.gif) repeat-x bottom;
    width: 80%;  background-size: auto;
    padding-right: 62px;
    padding-bottom: 51px;
    border-top-width: 0px;
    padding-top: 50px;
    padding-left: 45px;
}