
table {
    width: 100px;
    height: 100px;
}


caption {
    caption-side: bottom;
}

tr:first-child {
    background-color: red;

}

td,th:not(tr:nth-child(1)) {
    border-right: 2px dotted;
    border-bottom: 2px dotted;
}



tr:hover {

    background-color: aquamarine;
}