
table {
    width: 500px;
  
}


caption {
    caption-side: bottom;
}


td,th:not(tr:nth-child(1)) {
    border-right: 2px dotted;
    border-bottom: 2px dotted;
}

tr:nth-child(odd){ background-color: grey ;}

tr:hover {

    background-color: aquamarine;
}