ul {
    width: 350px;
    list-style: upper-roman;

}

li ul {
    list-style: lower-roman;

}

.blocks {
    background-color: black;
    color: green;
    width: 400px;
    max-height: 5em;
    overflow: auto;
}

.pre {
    white-space: pre;
}