
.chess {
    width: 500px;
    height: 500px;
    margin: auto;
    border: 4px double black;
      
}

.chess tr:nth-child(odd) td:nth-child(odd) {
    border: 60px double black;
    background: black;
}

.chess tr:nth-child(even) td:nth-child(even) {
    border: 60px double black;
    background: black;
}